:root{
    --darkyellow: #F3B812;
    --yellow: #FED323;
    --red: #E53C38;
    --redd: #D11D27;
    --darkred: #A90011;
    --white: #FFFFFF;
    --bwhite: #FFFAEF;
    --agrey: #F3F3F3;
}
/* Navbarrrrr */

.navbar{
    background-color: var(--darkred);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.navbar ul li a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 525;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0,5px;
}

/* Carousellllll */

.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
}

.c-capt{
    width: 60%;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 1.9;
    color: #A90011;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption{
    bottom: 250px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5{
    font-size: 100px;
    font-weight: 700;
}

.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}

@media screen and (max-width: 576px) {
    .c-item{
        height: 240px;
    }
    .carousel-item{
        height: 50vh;
        min-height: 300px;
        background: no-repeat scroll center scroll;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .carousel-caption{
        bottom: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .carousel-caption h5{
        font-size: 50px;
        font-weight: 30;
    }
    
    .carousel-caption p{
        font-size: 10px;
    }
    .text-home{
        text-align: center;
    }
}

/* Isiiiiii */

.text-home{
    color: var(--darkred);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}



.main-btn{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.562rem;
    background-color: var(--darkyellow);
    border: 0.1875rem solid var(--darkyellow);
    color: var(--darkred);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.main-btn:hover{
    background-color: var(--darkred);
    color: var(--yellow);
}

.top-banner{
    width: 100%;
    background-color:rgba(228, 187, 20, 0.146);
    padding: 16.875rem o 9.375rem;
}

.banner{
    background: linear-gradient(rgba(161, 0, 0, 0.797),rgba(0, 0, 0, 0.617)), url('/template/assets/images/lagibaksos.jpeg') ,no-repeat center center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 100px;
    color: var(--darkyellow);    
}

.c1{
    background: linear-gradient(180deg, var(--darkred), #00000000);
}

.c2{
    background: linear-gradient(180deg, rgba(228, 187, 20, 0.146), var(--darkred));
}

h2{
    font-size: 30px;
    font-weight: 900;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
