/* ---------
   * imports *
----------*/

@font-face {
    font-family: 'Roboto';
    src: url('/assets/font/Roboto-Black.ttf') format('truetype'),
    url('/assets/font/Roboto-BlackItalic.ttf') format('truetype'),
    url('/assets/font/Roboto-Bold.ttf') format('truetype'),
    url('/assets/font/Roboto-BoldItalic.ttf') format('truetype'),
    url('/assets/font/Roboto-Italic.ttf') format('truetype'),
    url('/assets/font/Roboto-Light.ttf') format('truetype'),
    url('/assets/font/Roboto-LightItalic.ttf') format('truetype'),
    url('/assets/font/Roboto-Medium.ttf') format('truetype'),
    url('/assets/font/Roboto-MediumItalic.ttf') format('truetype'),
    url('/assets/font/Roboto-Regular.ttf') format('truetype'),
    url('/assets/font/Roboto-Thin.ttf') format('truetype'),
    url('/assets/font/Roboto-ThinItalic.ttf') format('truetype');
}


/* ---------
 * Common *
--------- */

:root {

    /* --------------
    *Jangan Diganti!*
    *Do not Change! *
    --------------- */

    scroll-behavior: smooth;

    /* 
    *Colors*
    */
    --black: hsl(0, 0%, 0%,);
    --white: hsl(0, 0%, 100%);
    --whitegrey: hsl(0, 0%, 94%);
    --red: hsl(3, 99%, 35%);
    --redmaroon: hsl(3, 100%, 31%);
    --darkyellow: #F3B812;
    --yellow: #FED323;
    
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: #F3F3F3;

}

/* Navbarrrrr */

.navbar{
    background-color: var(--darkred);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.navbar ul li a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 525;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0,5px;
}

.contact-us{
    background-color: var(--redmaroon);
}


/* Footer */
.footer-top{
    background-color: #A90011;
}
#footer{
    background-color: #9C0800;
}
.develope-by{
    padding: 1rem;
    text-align: center;
    font-size: 17px;
    color: #efefef;
}
.wrapper-last-footer{
    padding: 1rem;
}
.wrapper-col-1 h1{
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #efefef;
}
.wrapper-col-1 p{
    width: 90%;
    font-size: 14px;
    color: #efefef;
}
.wrapper-icon img{
    width: 25px;
    margin-right: 1rem;
}
.wrapper-col-2{
    display: flex;
    flex-direction: column;
    color: #efefef;
}
.wrapper-col-2 h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #efefef;
}
.wrapper-col-2 a{
    color: #efefef;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.wrapper-col-3{
    display: flex;
    flex-direction: column;
}
.wrapper-col-3 h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #efefef;
}
.wrapper-col-3 a{
    color: #efefef;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.wrapper-col-4{
    display: flex;
    flex-direction: column;
}
.wrapper-col-4 h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #efefef;
}
.wrapper-col-4 a{
    color: #efefef;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.wrapper-last-footer{
    display: flex;
    justify-content: space-between;
}
/* end footer */